# IDE
/.idea

# Build output
/out
/llvm_out


error.txt
parser.txt
symbol.txt
llvm_ir.txt
mips.txt

# Test inputs/outputs
in.txt
lexer.txt
testfile.txt

pdf_text.txt
tokens.txt
llvm.zip
Compiler.zip
2025编译技术实验文法定义及相关说明.pdf

/zip
README.md
/PPT